body {
    background-color: #31312E;
}

.two-column-layout {
    display: flex;

    .left-side {
        flex: 1;
        padding: 1rem;
        margin-left: 20rem;
        margin-top: 5rem;
        color: white;

        h1 {
            letter-spacing: 0.5px;
            font-size: 2.5rem;
        }

        h2 {
            margin-top: 5rem;
            letter-spacing: 0.3px;
            font-weight: 100;
            line-height: 35px;
        }

        button {
            background-color: #5FA012;
            color: white;
            width: 150px;
            height: 35px;
            border-radius: 10px;
            font-size: 16px;
            letter-spacing: 0.3px;
        }
    }


    .right-side {
        flex: 1;
        padding: 1rem;

        img {
            height: 594px;
            width: 604px;
            margin-right: 20rem;
            margin-top: 3.5rem;
        }
        
    }
}



