<div class="two-column-layout">
    <div class="left-side">
        <h1>Find and Plan Your Meals With One Click.</h1>
        <h2>We're thrilled to have you join us! Get ready to discover new recipes, plan delicious meals, and simplify your cooking routine. 
            Explore our features and start cooking up a storm today!</h2>
        <button>Get Started</button>
    </div>
    <div class="right-side">
        <img
        (error)="handleImageError($event)" 
        [src]="homePageImage" alt="Meal">
    </div>
</div>
